.navbar-brand {
    color: #ecf0f1 !important; /* Light gray */
}

.custom-navbar {
    background-color: #2c3e50 !important; /* Dark slate blue */
    color: #ecf0f1 !important; /* Light gray */
}

.sidebar {
    height: 100vh;
    background-color: #34495e !important; /* Slightly lighter slate blue */
    padding-top: 20px;
}

.sidebar .btn, .sidebar .dropdown-toggle, .sidebar .form-control {
    margin-bottom: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background-color: #2980b9 !important; /* Bright blue */
    border-color: #1abc9c !important; /* Teal */
    color: #ecf0f1; /* Light gray */
}

.dropdown-toggle {
    background-color: #2980b9 !important; /* Bright blue */
    border-color: #1abc9c !important; /* Teal */
    color: #ecf0f1; /* Light gray */
}

.canvas-stack-container {
    position: relative;
    margin-top: 20px !important;
    width: 1000px;  /* Match canvas width */
    height: 1000px; /* Match canvas height */
    margin: 0 auto;
}

#cursor-highlight {
    z-index: 1;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #2980b9; /* Bright blue border */
}

.input-height {
    height: 50px; /* Match button height */
    box-sizing: border-box; /* Ensure padding is included in height */
}

.right-canvas-container {
    position: relative;
    margin-top: 20px !important;
}

body {
    background-color: #ecf0f1 !important; /* Light gray */
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.me-2 {
    margin-right: 0.5rem; /* Adjust spacing as needed */
}

.mb-2 {
    margin-bottom: 0.5rem; /* Adjust spacing as needed */
}

.form-control {
    width: 100%;
}

/* Set the size of the near-cursor canvas */
#near-cursor {
    width: 200px;
    height: 200px;
}
